<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title Home
  body
    ul
      li
        a(href="/") Home     
        a(href="/about") About      
        a(href="/") Comtact       
  
  h1 this is the contact page
    nav.image2
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsa sunt iusto repellat voluptatum dolor. Quisquam molestiae recusandae sequi hic corrupti. Accusamus sit voluptas repellat, minus hic libero esse magnam?

